@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('background.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1; /* Ensure the background image is behind other content */
}
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Playfair Display', serif; */
.navbar-container {
  position: relative;
  width: 100%;
  height: 60px; /* Adjust the height of the navbar */
  z-index: 99; /* Set a high z-index to ensure it's displayed above other content */
}

.navbar {
  font-family: "Poppins", sans-serif;
  background-color: rgba(232, 26, 26, 0.5); /* Set the background color to transparent */
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px rgb(187, 147, 147);
  --webkit-box-shadow: 0 8px 6px -6px rgb(213, 33, 33);
  border-bottom: solid rgb(147, 146, 146) !important;
  position: absolute; /* Position the navbar absolutely */
  top: 0; /* Align it to the top */
  width: 100%; /* Make it span the entire width */
  
}
.nav-link {
  color: #000000eb; /* Set text color to white */
  transition: color 0.5s ease; /* Smooth transition for color change */
}
.navbar-brand {
  color: #090808; /* Set text color to white */
  font-size: 1.5rem; /* Set font size */
}
.navbar-toggler-icon {
  background-color: #8e1f1f; /* Set background color for the navbar toggler icon */
}

/* Add padding to the navbar links */
.navbar-nav {
  padding: 0 20px;
}

/* Add margin to the navbar links */
.navbar-nav .nav-item {
  margin: 0 10px;
}

/* Hover effect for navbar items */
.nav-link:hover {
  color: #000000;
  background: #fcfcfa;
      color: rgb(243, 196, 11);
   /* Change text color on hover */
}
.nav-link {
  font-weight: 300 !important;
}

.active {
  border-bottom: 2px solid black;
}

/* Apply styles when hovering over the .active element */


.navbar-brand {
  font-weight: 700;
  font-family: "roboto", sans-serif;
  letter-spacing: 3px;
}

/* =============================
==========footer============= */

.footer {
  background-color: transparent;
  color: white;
  padding: 25px;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000);
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover {
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}
/* =================================
======== page not found css ======= */














/*      REgistration FORM*/

.wrapper {
  position: absolute; /* Change position to absolute */
  bottom: 55px;; /* Align to the bottom */
  width: 800px;
  height: 800px; /* Initial height */
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
}
.wrapper2 {
  position: absolute; /* Change position to absolute */
  bottom: 250px;; /* Align to the bottom */
  width: 500px;
  height: 500px; /* Initial height */
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
}

.wrapper.active-popup {
  transform: scale(1);
}

.wrapper.active {
  height: 520px;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #eff0f1;
  font-size: 2em;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;

}

.form-control {
  background-color: rgba(255, 255, 255, 0.4); /* Example: 50% transparent white */
  border-color: rgba(0, 0, 0, 0.1); /* Example: 10% transparent black border */
  color: #000; /* Adjust text color as needed */
}



















.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}
.pnf-btn:hover {
  background-color: black;
  color: white;
}
/* ========================================= */
/* =========contact us ========= */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* Register */

.register{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  flex-direction: column;

}










/*  Admin homepage designs   */
.container-fluid .col-md-3 {
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: height .2s ease;
}


.list-group-item-list-group-item-action{


    
  font-family: "Poppins", sans-serif;
    
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #393938;
    border-radius: 5px;
    color: #000000;
    margin-bottom: 15px;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    width: 250px;
    height: 65px;
    transform: translate(0%,-10%);
}

.list-group-item-list-group-item-action:hover {
  background-color: #ddd;
}


.container-fluid .col-md-9 {
  position: relative;
  width: 1450px;
  height: 750px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: height .2s ease;
  transform: translate(1%,0%);
  
}

.card {
  position: absolute; /* Change position to absolute */
  bottom: 500px;
  left: 50px; /* Align to the bottom */
  width: 800px;
  height: 200px; /* Initial height */
  background: transparent;
  border: 0px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}













































/* Category Table Design*/

.table {
  position: relative;
  width: 200vw;
  height: 70vh;
  background-color: #fff5;

  backdrop-filter: blur(7px);
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: .8rem;

  overflow: hidden;
  transform: translate(0%,2%);
  font-family: "Poppins", sans-serif;
    
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}



.table__header {
  font-family: "Poppins", sans-serif;
    
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 15%;
  background-color: rgba(222, 209, 209, 0.267);
  padding: 0.5rem 0.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table__body {
  font-family: "Poppins", sans-serif;
    
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 100%;
  max-height: calc(89% - 1.6rem);
  background-color: rgba(226, 211, 211, 0.01);

  margin: .8rem auto;
  border-radius: .6rem;

  overflow: auto;
  overflow: overlay;
}




thead th {
  font-family: "Poppins", sans-serif;
    
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #d3d0d5fe;
  cursor: pointer;
  text-transform: capitalize;
}



table, th, td, thead {
  font-family: "Poppins", sans-serif;
    
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  width: 800px;
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
  
}




tbody tr {
  font-family: "Poppins", sans-serif;
    

  
  background-color: rgba(179, 174, 174, 0.4) !important;
}






.container-fluid .col-md-4  {
  top: -300px;
  left: -13px;
  position: relative;
  width: 400px;
  height: 220px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: height .2s ease;
}


.categoryform .form-control{
  width:300px;
  background-color: rgba(255, 255, 255, 0.4); /* Example: 50% transparent white */
  border-color: rgba(0, 0, 0, 0.1); /* Example: 10% transparent black border */
  color: #000; /* Adjust text color as needed */
}
.form-select-mb-3{
  width:300px;
  background-color: rgba(255, 255, 255, 0.4); /* Example: 50% transparent white */
  border-color: rgba(0, 0, 0, 0.1); /* Example: 10% transparent black border */
  color: #000; /* Adjust text color as needed */
}

.button_1 {

    
    width: 140px;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 3px solid #e4eae4;
    border-radius: 10px;
    color: #0b4e06;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: 2rem;
   
}

.button_1:hover {
  background-color: #b2b8af;
}


.button_2 {

    
  width: 140px;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 3px solid #e4eae4;
  border-radius: 10px;
  color: #e04848;
  background-color: #fff5;
  backdrop-filter: blur(7px);
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: 2rem;
 
}

.button_2:hover {
background-color: #e59393;
}























/* Products Page  */
.container-fluid .col-md-5  {
  top: -300px;
  left: -13px;
  position: relative;
  width: 400px;
  height: 400px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: height .2s ease;
}



.container-fluid .col-md-5 .column {
  margin-bottom: 20px; /* Add margin between columns */
}


.container-fluid .col-md-5 h5 {
  font-size: 1.2rem; /* Adjust heading font size */
  margin-bottom: 10px; /* Add spacing below heading */
  
}


.container-fluid .col-md-5 h4 {
  font-size: 1.1rem; /* Adjust heading font size */
  margin-bottom: 10px; /* Add spacing below heading */
  
}

.container-fluid .col-md-5 .checkbox-group {
  display: flex;
  flex-direction: column; /* Arrange radio buttons vertically */
}



.container-fluid .col-md-5 .checkbox-label {
  margin-bottom: 5px; /* Add spacing below each checkbox label */
  display: flex;
  flex-direction: column;

}

.container-fluid .col-md-5 .radio-group {
  display: flex;
  flex-direction: column; /* Arrange radio buttons vertically */
}

.container-fluid .col-md-5 .radio-label {
  margin-bottom: 5px; /* Add spacing below each radio button label */
}

.container-fluid .col-md-9-2 {
  position: relative;
  width: 1450px;
  height: 750px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  justify-content: center;
  align-items: flex-end; /* Start alignment to have the cards stack from the top */
  overflow-y: overlay; /* Add vertical scrollbar */
  max-width: 100%;
  
}



/* Styles for the card container */
.card-m-2 {
  margin: 20px; /* Adjust as needed */
  width: 18rem;
  height: 500px;
  background: transparent;
  border: 0px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
}

/* Styles for the card image */
.card-img-top {
  width: 100%;
  height: 80%;
}

/* Styles for the card title */
.card-title {
  font-family: "Poppins", sans-serif;
  
  font-size: 1.5rem; /* Adjust as needed */
  font-weight: bold;
  color: black;
  text-decoration: underline black;
}

/* Styles for the card text */
.card-text {
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 1rem; /* Adjust as needed */
  text-decoration: underline black;
}










































/*    Homepage  */
